a:hover {font-weight: bolder}
a:focus {font-weight: bolder}

h2 {
    color: orangered;
    font-family: cursive;
    font-weight: 500;
    margin: 0;
    font-size: 35px;
}

body {
    max-width: 100%;
    background-color: rgb(254, 254, 79);
    font-family: cursive;
}