h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

    color: orangered;
}
body {
    background-color: rgb(254, 254, 79);
    padding: 0;
    font-family: cursive;
}
a {
    color: black;
}

.row {
    display: flex;
    flex-direction: column;
}

.blog-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: rgb(254, 254, 79);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.blog-card .blog-card-image {
    max-height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
/*das ist ähnlich wie die paper miu damit das bild mit Rändern dargestellt wird*/

.blog-card .blog-card-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
/*würde die max-width nicht existieren, erscheint das erste Bild riesig und man muss rüberscrollen*/






.blog-text-success {

    color: orangered !important;
}

.blog-card-blog .blog-card-caption {
    margin-top: 5px;
}

.blog-card-caption {
    font-weight: 700;

}



p {
    color: #3C4857;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.blog-card .ftr {
    margin-top: 15px;
}

.blog-card .ftr .author {
    color: #888;
}

.blog-card .ftr div {
    display: inline-block;
}

.blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

@media screen and (min-width: 720px) {
    .row {
        flex-direction: row;
    }
}