body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg);
    height: 100vh;
    overflow: hidden;
    background-color: yellow;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color:  rgb(100, 247, 212);
    border-radius: 50px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid yellow(7, 7, 7);
}
.center form{
    padding: 0 40px;
    box-sizing:  border-box;
}
form .txt_filed{
    position: relative;
    border-bottom: 2px solid yellow ;
    margin: 30px 0;
}
.txt_filed input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}
.txt_filed label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_filed span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: yellow; 

}
.txt_filed input:focus ~ label,
.txt_filed input:valid ~ label{
    top: -5px;
    color: yellow;
}
.txt_filed input:focus ~ span  ::before,
.txt_filedd input:valid ~ span ::before{
    width: 100%;

}
.pass{
    margin: -5px 0 20px 5px;
    color: yellow;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(0, 255, 26);
    border-radius: 25px;
    font-size: 18px;
    color: rgb(94, 184, 252);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #abd5ef;
    transition: .5s;
}
.signup_linl{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #0a0a0a;

}
.signup_link a:hover{
    text-decoration: underline;
}