nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style-type: none;
}
header h1 {
    text-align: center;
    

}
#quicksearch label{
   display: flex;
   flex-direction: column;
   margin-right: 10px; 
   

   
    
}
#quicksearch p{
    display: flex;
    flex-direction: row;
    
}
#quicksearch label input{
    
    align-self: center;
    
}
#quicksearch input[type=checkbox]{
    width: 25px;
    height: 25px;
    margin: 0px;
    
    
}
 #top3 img {
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 200px;
    margin: 0px;
    margin-left: 55px;

}
#top3 div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
h1{
    color: orange;
    font-family:cursive;
    font-size: 45px;
    font-weight:bolder;

}
h2{
    color:rgb(255, 175, 26);
    font-family:cursive ;
    font-size: 25px;
    font-weight:500 ;
 

    }
     ul li a {
        
        color: rgb(226, 43, 150);
        font-family:cursive;
        font-weight: bolder;
        font: size 35px; 
    }
    #BOY img{
     
    padding: 5px;
    width: 75px;
    height: 75px;
    margin: 0px;
    margin-left: 300px;
    
    

        
    }
